fastapi
uvicorn
pydantic
langchain
langchain-text-splitters
langchain-community
langchain-huggingface
chromadb
huggingface-hub
sentence-transformers
GitPython
python-multipart
typing-extensions
tqdm
nltk